:root {
    --sky-color: #2e1c5a;
    --plain-grid-color: magenta;
    --plain-back-color: black;
    --mountain-color: black;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    overflow: clip;
    background: linear-gradient(var(--sky-color), black);
  }

#instruction {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    font-family: 'VT323', monospace;
    font-size: 4.5vh;
    color: white;
}

#plain {
    position: absolute;
    width: 100%;
    height: 40vh;
    margin-top: 60vh;
    background-color: black;
}

/* Horizontal Grid Lines */
/* Perspective given by y=6.75log(x)+3.25 */
.horizontal-line {
    position: absolute;
    width: 100%;
    background-color: var(--plain-grid-color);
    filter: blur(0.5px);
}

.horizontal-line.first {
    height: 0.5025vh;
    bottom: 32.5%;
}

.horizontal-line.second {
    height: 0.44154vh;
    bottom: 52.82%;
}

.horizontal-line.third {
    height: 0.40587vh;
    bottom: 64.71%;
}

.horizontal-line.fourth {
    height: 0.38058vh;
    bottom: 73.14%;
}

.horizontal-line.fifth {
    height: 0.36096vh;
    bottom: 79.68%;
}

.horizontal-line.sixth {
    height: 0.34491vh;
    bottom: 85.03%;
}

.horizontal-line.seventh {
    height: 0.33138vh;
    bottom: 89.54%;
}

.horizontal-line.eighth {
    height: 0.31962vh;
    bottom: 93.46%;
}

.horizontal-line.ninth {
    height: 0.30927vh;
    bottom: 96.91%;
}

.horizontal-line.tenth {
    height: 0.3vh;
    bottom: 100%;
}

/* Vertical Grid Lines */
/* Perspective focus point a little above the sun's center */
.vertical-line {
    position: absolute;
    width: 1vh;
    height: 80vh;
    background-color: var(--plain-grid-color);
    filter: blur(0.5px);
}

.vertical-line.minus11 {
    top: -65%;
    right: -18.75%;
    transform: rotate(-68.75deg);
}

.vertical-line.minus10 {
    top: -55%;
    right: -12.5%;
    transform: rotate(-62.5deg);
}

.vertical-line.minus9 {
    top: -45.5%;
    right: -6.25%;
    transform: rotate(-56.25deg);
}


.vertical-line.minus8 {
    top: -37%;
    right: 0%;
    transform: rotate(-50deg)
}

.vertical-line.minus7 {
    top: -29%;
    right: 93.75%;
    transform: rotate(43.75deg);
}

.vertical-line.minus6 {
    top: -22%;
    right: 87.5%;
    transform: rotate(37.5deg);
}

.vertical-line.minus5 {
    top: -16%;
    right: 81.25%;
    transform: rotate(31.25deg);
}

.vertical-line.minus4 {
    top: -10%;
    right: 75%;
    transform: rotate(25deg);
}

.vertical-line.minus3 {
    top: -6%;
    right: 68.75%;
    transform: rotate(18.75deg);
}

.vertical-line.minus2 {
    top: -3%;
    right: 62.5%;
    transform: rotate(12.5deg);
}

.vertical-line.minus1 {
    top: -1%;
    right: 56.25%;
    transform: rotate(6.25deg);
}

.vertical-line.zero {
    right: 50%;
}

.vertical-line.plus1 {
    top: -1%;
    right: 43.75%;
    transform: rotate(-6.25deg);
}

.vertical-line.plus2 {
    top: -3%;
    right: 37.5%;
    transform: rotate(-12.5deg)
}

.vertical-line.plus3 {
    top: -6%;
    right: 31.25%;
    transform: rotate(-18.75deg);
}

.vertical-line.plus4 {
    top: -10%;
    right: 25%;
    transform: rotate(-25deg)
}

.vertical-line.plus5 {
    top: -16%;
    right: 18.75%;
    transform: rotate(-31.25deg)
}

.vertical-line.plus6 {
    top: -22%;
    right: 12.5%;
    transform: rotate(-37.5deg)
}

.vertical-line.plus7 {
    top: -29%;
    right: 6.25%;
    transform: rotate(-43.75deg)
}

.vertical-line.plus8 {
    top: -37%;
    right: 100%;
    transform: rotate(50deg);
}

.vertical-line.plus9 {
    top: -45.5%;
    right: 106.25%;
    transform: rotate(56.25deg);
}

.vertical-line.plus10 {
    top: -55%;
    right: 112.5%;
    transform: rotate(62.5deg);
}

.vertical-line.plus11 {
    top: -65%;
    right: 118.75%;
    transform: rotate(68.75deg);
}

/* Mountain Horizon */
.mountain {
    position: absolute;
    background-color: var(--mountain-color);
    z-index: -1;
    filter: blur(1px);
}

.mountain.bottom {
    top: 55%;
    width: 100%;
    height: 5vh;
    z-index: 2;
    border-bottom: 0.3vh solid cyan;
    filter: blur(0);
}

.mountain.first {
    top: 45%;
    left: -10%;
    width: 400px;
    height: 400px;
    transform: rotate(30deg);
}

.mountain.second {
    top: 35%;
    left: 0;
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
}

.mountain.third {
    top: 45%;
    left: 15%;
    width: 300px;
    height: 300px;
    transform: rotate(45deg);
}

.mountain.fourth {
    top: 32%;
    left: 19%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 360px solid transparent;
    border-right: 360px solid transparent;
    border-bottom: 330px solid var(--mountain-color);
    transform: rotate(-2deg);
}

.mountain.fifth {
    top: 27.5%;
    left: 45%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 300px solid var(--mountain-color);
}

.mountain.sixth {
    top: 32.5%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 300px solid var(--mountain-color);
}

.mountain.seventh {
    top: 39%;
    left: 48.5%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 390px solid transparent;
    border-right: 390px solid transparent;
    border-bottom: 300px solid var(--mountain-color);
    transform: rotate(5deg);
}

.mountain.eighth {
    top: 30%;
    left: 73%;
    width: 0;
    height: 0;
    background-color: transparent;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 315px solid var(--mountain-color);
}

.mountain.ninth {
    top: 35%;
    left: 83%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}

#sun-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sun {
    width: 45vh;
    height: 45vh;
    z-index: -2;
    border-radius: 50%;
    background: linear-gradient(
        rgb(255, 255, 0) 0%,
        rgb(255, 153, 102) 40%,
        transparent 40%,
        transparent 41%,
        rgb(255, 150, 105) 41%,
        rgb(255, 140, 115) 45%,
        transparent 45%,
        transparent 47%,
        rgb(255, 135, 120) 47%,
        rgb(255, 122, 133) 52%,
        transparent 52%,
        transparent 55%,
        rgb(255, 115, 140) 55%,
        rgb(255, 99, 156) 61%,
        transparent 61%,
        transparent 65%,
        rgb(255, 89, 166) 65%,
        rgb(255, 71, 184) 72%,
        transparent 72%,
        transparent 77%,
        rgb(255, 59, 196) 77%,
        rgb(255, 38, 217) 85%,
        transparent 85%,
        transparent 100%
        );
    filter: blur(1.2px) drop-shadow(16px 16px 20px rgba(255, 0, 200, 0.3));
    animation: sunset 60s linear 0s infinite;
}

@keyframes sunset {
    0% {
        transform: translate(0, 0);
    }
    30% {
        filter: blur(1.2px);
    }
    100% {
        transform: translate(0, 52vh);
        filter: blur(20px);
    }
}